<div class="panel panel-info">
  <div class="panel-heading">Requests</div>
  <div class="panel-body">
    <p-table [value]="requests" [paginator]="true" [rows]="10" dataKey="ConnectionId">
      <ng-template pTemplate="header">
        <tr>
          <th>RequestPath</th>
          <th>ConnectionId</th>
          <th>LocalIpAddress</th>
          <th>LocalPort</th>
          <th>RemoteIpAddress</th>
          <th>RemotePort</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-req>
        <tr [pSelectableRow]="req">
          <td>{{req.RequestPath}}</td>
          <td>{{req.ConnectionId}}</td>
          <td>{{req.LocalIpAddress}}</td>
          <td>{{req.LocalPort}}</td>
          <td>{{req.RemoteIpAddress}}</td>
          <td>{{req.RemotePort}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

