.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
*.docker-compose.yml
HiveStore.AzureResourceGroup
HiveStore.Database
HiveStore.Deploy
HiveStore.DTO/bin
HiveStore.DTO/obj
HiveStore.Entity/bin
HiveStore.Entity/obj
HiveStore.DataAccess/bin
HiveStore.DataAccess/obj
HiveStore.IRepository/bin
HiveStore.IRepository/obj
HiveStore.Repository/bin
HiveStore.Repository/obj
HiveStore.IService/bin
HiveStore.IService/obj
HiveStore.Service/bin
HiveStore.Service/obj
HiveStore.IHelper/bin
HiveStore.Helper/obj
HiveStore.DI/bin
HiveStore.DI/obj
HiveStore.WebApp/bin
HiveStore.WebApp/obj
HiveStore.WebApp/ClientApp/node_modules
HiveStore.WebApp/out