.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
HiveStore.DTO/bin
HiveStore.DTO/obj
HiveStore.IService/bin
HiveStore.IService/obj
HiveStore.Entity/bin
HiveStore.Entity/obj
HiveStore.Helper/bin
HiveStore.Helper/obj
HiveStore.Service/bin
HiveStore.Service/obj
HiveStore.DataAccess/bin
HiveStore.DataAccess/obj
HiveStore.IRepository/bin
HiveStore.IRepository/obj
HiveStore.Repository/bin
HiveStore.Repository/obj
HiveStore.WebApp/bin
HiveStore.WebApp/obj
HiveStore.WebApp/ClientApp/node_modules
HiveStore.WebApp/out