
.body-content {
  padding-top: 15px;
  width: 100%;
  padding-left: calc(15%)
}
::ng-deep.loading {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
}
