<div class="loading" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Add/Edit User</div>
  <div class="panel-body" id="divPrint">
    <form [formGroup]="formUser">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <mat-input-container>
            <input matInput placeholder="First Name" formControlName="ipFirstName" matTooltip="First Name" required>
            <mat-error>First Name is required</mat-error>
          </mat-input-container>
        </div>
        <div class="col-sm-6 col-md-6">
          <mat-input-container>
            <input matInput placeholder="Last Name" formControlName="ipLastName" matTooltip="Last Name" required>
            <mat-error>Last Name is required</mat-error>
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <mat-input-container>
            <input matInput placeholder="Country" formControlName="ipCountry" matTooltip="Country" required>
            <mat-error>Country is required</mat-error>
          </mat-input-container>
        </div>
        <div class="col-sm-6 col-md-6">
          <mat-input-container>
            <input matInput placeholder="City" formControlName="ipCity" matTooltip="City" required>
            <mat-error>City is required</mat-error>
          </mat-input-container>
        </div>
      </div>
      <div class="top-buffer-20"></div>
      <div class="row">
        <div class="col-sm-6">
          <button id="btnSave" mat-raised-button name="btnSave" color="primary" (click)="btnSaveClick($event)">Save</button>
          <button id="btnCancel" mat-raised-button name="btnCancel" (click)="btnCancelClick($event)">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">All Users</div>
  <div class="panel-body">
    <p-table [value]="users" [paginator]="true" [rows]="10" dataKey="Id" [(selection)]="selectedUser" selectionMode="single"
             (onRowSelect)="gridUsersOnRowSelect($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>City</th>
          <th>Country</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-emp>
        <tr [pSelectableRow]="emp">
          <td>{{emp.Id}}</td>
          <td>{{emp.FirstName}}</td>
          <td>{{emp.LastName}}</td>
          <td>{{emp.City}}</td>
          <td>{{emp.Country}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
