<div class="login-wrapper">
  <div class="panel panel-info login-box-holder">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
      <form [formGroup]="loginForm" class="form" novalidate>
        <div>
          <input formControlName="userName" id="userName" name="UserName" placeholder="Enter Email ID" type="text" required />
          <mat-error class="login-field-validation-error" *ngIf="isUserNameInValid">
            The Email ID field is required.
          </mat-error>
          <input id="ReturnUrl" name="ReturnUrl" type="hidden" value="/GMPWeb/">
        </div>
        <div>
          <input formControlName="password" id="password" name="Password" placeholder="Password" type="password" required>
          <mat-error class="login-field-validation-error" *ngIf="isPasswordInValid">
            The Password field is required.
          </mat-error>
        </div>
        <div class="footer-buttons">
          <input type="submit" (click)="btnLoginClick(loginForm)" mat-raised-button value="Login" />
          <a href="{{appDetails?.HomePageURL}}" class="reset">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
